*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  background: $color-background;
  font-family: 'Helvetica Neue', 'Avenir', sans-serif;
  font-size: $font-size;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

button,
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
}

a {
  background-color: transparent;
}

em {
  font-style: italic;
}

img {
  border: 0;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
html input {
  &[disabled] {
    cursor: default;
  }
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted;
}

input {
  &[type="search"],
  &[type="number"],
  &[type="email"],
  &[type="password"] {
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  overflow: auto;
}


a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

a[href^="tel"] {
  color: inherit;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

.hide {
  display: none;
}
