$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-alternate: var(--color-tirtiary);
$color-accent: var(--color-accent);
$color-accent-alt: var(--color-accent-alt);
$color-text: var(--color-body-text);
$color-background: var(--color-main-background);
$color-background-secondary: var(--color-main-background-secondary);
$color-background-alternate: var(--color-main-background-alternate);
$color-text-alternate: var(--color-text-alternate);

$color-link: var(--color-primary);
$color-link-hover: var(--color-secondary);

$font-size: var(--font-base-size);
$font-heading: var(--font-heading);
$font-body: var(--font-body);
